{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur mon site de fou furieux</h1>
  <p class="lead">G2 Esports is one of the leading entertainment assets in esports, bringing together some of the best competitive players in the world and biggest personalities in gaming.</p>
  <hr class="my-4">
  <p>With decades of experience, G2’s multinational staff elevates the company to the highest levels of performance in every aspect of business in the esports industry.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://g2esports.com/pages/about" role="button">En savoir plus</a>
  </p>
</div>

{% endblock %}