{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur le magasin SHOPTONMAILLOT</h1>
  <p class="lead">Nous vous proposons plusieurs types de maillots pour différents sports !</p>
  <hr class="my-4">
  <p>Voici les équipes que vous pouvez retrouvez sur notre site</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg btn-danger" href="https://www.basket4ballers.com/fr/212-nba" role="button">Basket</a>
    <a class="btn btn-primary btn-lg btn-warning" href="https://maxesport.gg/fr/t/maillots-esports-2022/" role="button">Esport</a>
    <a class="btn btn-primary btn-lg btn-success" href="https://lemaillot2foot.com/collections" role="button">Football</a>
  </p>
</div>

{% endblock %}
