{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-3">Bienvenue sur le magasin SHOPTONMAILLOT</h1>
  <p class="lead">Nous vous proposons plusieurs types de maillots pour différents sports !</p>
  <hr class="my-4">
  <div class="d-flex justify-content-center">
    <p>Voici les équipes phares que vous pouvez retrouvez sur notre site</p>
  </div> 
  <p class="lead">
  <div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <a class="item" href="https://www.fcbarcelona.fr/fr/">
             <img src="/img/barcalogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
        </div>
        <div class="col"></div>
        <div class="col">
          <a class="item" href="https://www.psg.fr/">
            <img src="/img/psglogo.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
        </div>
        <div class="col"></div>
          <div class="col">
           <a class="item" href="https://www.manutd.com/fr">
            <img src="/img/unitedlogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
           </a>
        </div>
        <div class="col"></div>
         <div class="col">
          <a class="item" href="https://shop.clippers.com/">
            <img src="/img/clipperslogo.png" width="45" height="35" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
        </div>
        <div class="col"></div>
       <div class="col">
         <a class="item" href="https://shop.warriors.com/">
          <img src="/img/warriorslogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
         </a>
        </div>
    </div>
  </div>
   <div class="d-flex justify-content-center">
    <div class="row">
        <div class="col">
            <a class="item" href="https://karmineshop.com/">
             <img src="/img/karminelogo.svg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"> 
            </a>
        </div>
        <div class="col"></div>
        <div class="col">
          <a class="item" href="https://shop.msg.com/">
            <img src="/img/knickslogo.png" width="50" height="40" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
        </div>
        <div class="col"></div>
          <div class="col">
           <a class="item" href="https://fnatic.com/">
            <img src="/img/fnaticlogo.png" width="55" height="40" class="d-inline-block align-top" alt="" loading="lazy">
           </a>
        </div>
        <div class="col"></div>
         <div class="col">
          <a class="item" href="https://g2esports.com/">
            <img src="/img/g2logo.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
          </a>
        </div>
    </div>
  </div>  
  </p>
</div>

{% endblock %}
 {# 
   <a class="item" href="https://karmineshop.com/">
      <img src="/img/karminelogo.svg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy"> 
    </a> #}
      {# <a class="item" href="https://www.fcbarcelona.fr/fr/">
      <img src="/img/barcalogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
     <a class="item" href="https://www.psg.fr/">
      <img src="/img/psglogo.jpg" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
     </a>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a class="item" href="https://www.manutd.com/fr">
     <img src="/img/unitedlogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a class="item" href="https://shop.clippers.com/">
     <img src="/img/clipperslogo.png" width="45" height="35" class="d-inline-block align-top" alt="" loading="lazy">
    </a>
    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
    <a class="item" href="https://shop.warriors.com/">
     <img src="/img/warriorslogo.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy">
    </a> #}