<form method="post" action="{{ path('app_maillot_delete', {'id': maillot.id}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir supprimer le maillot?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ maillot.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
