{% extends 'base.html.twig' %}

{% block title %}Modifier Maillot{% endblock %}

{% block body %}
    <div class="text-center font-weight-light"><h1>Modifier le Maillot</h1></div>
    

    {{ include('maillot/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="btn btn-info" href="{{ path('app_maillot_index') }}">Revenir à la liste des maillots</a>

    {{ include('maillot/_delete_form.html.twig') }}
{% endblock %}
