{% extends 'base.html.twig' %}

{% block title %}Nouveau Maillot{% endblock %}

{% block body %}
    <h1>Créer un nouveau Maillot</h1>

    {{ include('maillot/_form.html.twig') }}

    <a class="btn btn-info" href="{{ path('app_maillot_index') }}">Revenir à la liste des maillots</a>
{% endblock %}
