{% extends "base.html.twig" %}
{% block body %}
<h1 class="text-center">MAILLOT EN VENTE ACTUELLEMENT :</h1>
<img src="{{ asset('img/maillotbarcamatchlogo.jpg') }}" width="300" height="300px" alt="">
<img src="{{ asset('img/maillotbarcaext2022.jpg') }}" width="300" height="300px" alt="">
<img src="{{ asset('img/maillotbarca32022.jpg') }}" width="300" height="300px" alt="">

test 
{% endblock %}
