{% for MonEquipe in equipes %}    
<a class="dropdown-item"> {{MonEquipe.libelle}}
<img src="/img/{{MonEquipe.image}}"width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
</a>
{% endfor %}