{% extends 'base.html.twig' %}

{% block title %}Modifier l'Équipe{% endblock %}

{% block body %}
    <div class="text-center font-weight-light"><h1>Modifier L'Equipe</h1></div>

    {{ include('equipe/_form.html.twig', {'button_label': 'Sauvegarder'}) }}

    <a class="btn btn-info"href="{{ path('app_equipe_index') }}">Revenir à la liste des Équipes</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
