{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle Équipe{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a class="btn btn-info"  href="{{ path('app_equipe_index') }}">Revenir à la liste des équipes</a>
{% endblock %}
