{% extends "base.html.twig" %}
{% block body %}
<h1 class="text-center">MAILLOT EN VENTE ACTUELLEMENT :</h1>
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillot/maillotpsgmatch2022.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot domicile 2022-2023</h5>
        <p class="card-text">Maillot qui reprend les formes et les couleurs classiques du psg </p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillot/maillotpsgexte2022.jpg') }}" width="200" height="200" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot extérieur 2022-2023</h5>
        <p class="card-text">Des couleur extérieur qui sont souvent utilisé par le PSG avec un design très bien fait !</p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillot/maillotpsgentrainement2021.jpg') }}" width="200" height="200" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot entrainement 2021-2022</h5>
        <p class="card-text">Un maillot entrainement du psg en colab avec jordan une première pour un club de foot !</p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
