{% extends "base.html.twig" %}
{% block body %}
<h1 class="text-center">MAILLOT EN VENTE ACTUELLEMENT :</h1>
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillotunitedmatch2022.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot domicile 2022-2023</h5>
        <p class="card-text">Maillot en forme de polo qui fait très nostalgique de l'époque Cantona</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillotunitedmatchext2022.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot exterieur 2022-2023</h5>
        <p class="card-text">Le maillot extérieur est très simple avec une couleur souvent utilisé pour le club</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillotentrainementunited2020.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot entrainement 2020-2021</h5>
        <p class="card-text">Maillot très stylé des entrainements à bas prix !</p>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Acheter
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Maillot du FC Barcelone</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       Voulez vous achetez le maillot ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <a class="btn btn-success" href=""> Acheter le Maillot</a>
      </div>
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
</div>  
{% endblock %}
