{% extends "base.html.twig" %}
{% block body %}
<h1 class="text-center">MAILLOT EN VENTE ACTUELLEMENT :</h1>
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillotwarriorsmatch2022.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot domicile 2022-2023</h5>
        <p class="card-text">Tout nouveau style pour les warriors 2022-2023 qui change beaucoup</p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
</div>
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
    <img src="{{ asset('img/maillotwarriors2020.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot domicile 2020-2021</h5>
        <p class="card-text">Le maillot classique ultime de la dynastie des warriors</p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col">
<div class="card mb-3" style="max-width: 540px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{ asset('img/maillotwarriors2018.jpg') }}" width="200" height="200px" alt="">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Maillot match 2018-2019</h5>
        <p class="card-text">Très beau maillot différent de tous pour la baie de san francisco</p>
        <a class="btn btn-success"> Acheter </a>
      </div>
    </div>
  </div>
</div>
</div>  
{% endblock %}
