{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau Sport{% endblock %}

{% block body %}
    <h1>Créer un nouveau Sport</h1>

    {{ include('sport/_form.html.twig') }}

    <a class="btn btn-info"href="{{ path('app_sport_index') }}" class= "btn btn-warning">Revenir à la liste des sports</a>
{% endblock %}
